@font-face {
  font-family: "M PLUS Code Latin";
  src: url('assets/MPLUSCodeLatin.ttf') format("truetype"),
}

html {
  font-family: "M PLUS Code Latin", sans-serif;
  font-size: 1.3rem;
  color: #CCC;
  background: #222;
}

body {
  margin: 0 auto;
}

a {
  color: #CCC;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: #FFF;
}
h1::after {
  content: "---";
  display: block;
}
h2::before {
  content: "# ";
}
code {
  padding: 2px 4px;
  font-size: 0.9rem;
  font-weight: bold;
  vertical-align: bottom;
  border-radius: 4px;
  border: 1px solid #DDD;
}

header {
  display: flex;
  padding: 20px calc(50vw - 450px + 10px);
  color: #FFF;
  border-bottom: 1px solid #444;
}

header > a {
  flex: 1;
  text-decoration: none;
  color: #FFF;
}
header > a img {
  height: 24px;
  vertical-align: bottom;
}

header > nav {
  flex: 3;
  text-align: right;
}
header > nav a {
  padding-left: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
}
header > nav a:hover {
  text-decoration: underline;
}
header > nav a::after {
  content: " /";
  margin-left: 12px;
  font-weight: 400;
  color: #666;
}
header > nav a:hover::after {
  display: none;
}
header > nav a:hover + a::before {
  content: "/ ";
  margin-right: 12px;
  font-weight: 400;
  color: #666;
}
header > nav a:last-of-type::after {
  display: none;
}

main {
  padding: 20px calc(50vw - 450px + 10px);
}
main h1::after {
  display: none;
}
main h1:has(+ p) {
  margin-bottom: 0;
}
main [rel=author] + time::before {
  content: "- ";
}
main p:first-of-type {
  margin-top: 0;
}
main p:first-of-type::before {
  content: "---\A\A";
  display: block;
  font-weight: 500;
  color: #FFF;
  white-space: pre-wrap;
}

@media (max-width: 940px) {
  header, main {
    padding: 20px;
  }
  header > a span {
    display: none;
  }
}
